body {
    background-color: rgb(248, 211, 166);
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
}

.title {
    font-size: 30px;
    margin: 5%;
}


ul {
    list-style-type: none;  
    padding: 0;
    margin-top: 20px;
    
}

.lista a {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.message1 {
    background-color: #c34436; 
    border: 5px solid #ccc; 
    padding: 8px; 
    margin-top: 40px; 
    width: 40%; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 20px; 
    color: white;
}

.message1 p {
    font-size: 16px;
}


.lista {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.recipe-card {
    background-color: #ffe4b5;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px auto;
    width: 60%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.recipe-card a {
    text-decoration: none;
    color: #ff6f00;
    font-weight: bold;
    font-size: 18px;
}

.recipe-card a:hover {
    color: #ff4500;
}

.recipe-image {
    width: 600px;
    height: auto; 
    margin: 0 auto;
} 

#chicken-page {
    background-color: #e19f3b; 
}

ol {
    margin: 0 auto;
    padding: 0;
    list-style-position: inside; 
    text-align: center; 
}


p, ul, ol {
    font-size: 18px; 
}

h1 {
    font-size: 36px; 
}

h2 {
    font-size: 28px; 

}

h1, h2, p, ul, ol {
    font-weight: 500; 
    line-height: 1.6; 
}

.recipe-image {
    width: 500px;
    height: auto;
    margin: 0 auto;
    border: 10px solid #dc7813; /* Light gray border */
    padding: 15px; /* Adds space between image and border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth effect on hover */
}

.recipe-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

h1, h2 {
    margin-bottom: 50px;
}

#steak {
    background-color: #c34436;
}

#pesto {
    background-color: rgb(136, 231, 136);
}